
<form {{on "submit" this.login}}>
  <label for="password">Password</label>
  <input id='password' name='password'  placeholder="Enter Password" value={{this.password}} {{on "change" (fn this.update "password")}}>
   <br/>
    <label for="email">email</label>
  <input id='email' name='email' placeholder="email" value={{this.email}} {{on "change" (fn this.update "email")}}>
  <br/>
  <button type="submit">Login</button>
  <br/>
    {{#if this.errorMessage}}
     <ol>
  {{#each this.errorMessage as  |error| }}
    <li>
      {{error}}
    </li>
  {{/each}}
  </ol>
  {{/if}}
</form>